<h1>Welcome to Ecommerce Store<br>A New Style!</hl>
        <p>Success isn’t always about greatness. It’s about
        consistency. Consistent<br>hard work gains success. Greatness
        will come.</p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
       
    </div>
</div>
</div>
</div>
        featured categories
<div class="categories">
   <div class="small-container">
       <div class="row">

        <div class="col-3">
  
</div>
<div class="col-3">
  
</div>
<div class="col-3">
    
</div>
</div>
</div>
</div>
<! ----- featured products
<div class="small-container">
<h2_class="title">Featured Products</h2>
<div class="row">
<div class="col-4">
     

</body>
</html>